/*.App{*/
/*  text-align: center;*/
/*}*/
.App .counter {
  text-align: center;
}
.App .counter button{
  padding: 4px 8px;
  margin-left: 4px;
}
.App .courses{
  border: 1px solid gray;
  box-shadow: 2px 2px 2px gray;
  padding: 8px;
  border-radius: 5px;
}